$color-1: #4A3277;
$color-2: #8f72c5;
$color-3: #7deba0;

$color-white: #fff;
$color-black: #000;
$color-gray-1: #ddd;
$color-gray-2: #eee;
$color-gray-3: #ddd;
$color-gray-4: #ccc;
$color-gray-5: #bbb;
$color-gray-6: #aaa;
$color-gray-7: #999;
$color-gray-8: #888;
$color-gray-9: #777;
$color-gray-10: #666;